/* Navbar */
.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  transition: background 0.25s, opacity 0.25s;
  height: 80px;
  opacity: 0.2;
  padding: 0 30px 0 30px;

  &.show, &.override-hover {
    background-color: black !important;
    opacity: 1;
  }
}

/* Navbar brand */
.navbar-brand img {
  width: 140px;
  height: auto;
}

/* Navbar links */
.nav-link {
  color: darkgrey;
  height: 80px;
  line-height: 65px;
  transition: color 0.25s;
  letter-spacing: 3px;
  margin: 0 5px 0 5px;

  &:hover, .active {
    color: white;
  }
}

/* The part that collapses down */
.navbar-collapse {
  background-color:black;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100vw;
  padding: 0 30px;
}