@import "../common/unselectable";

/* Section */
#section4 {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/mixmusicpicture11.jpg');
  background-position:center;
  background-size: cover;

  width:100%;
  padding:0;

  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  /* Block override */
  .block {
    height: 20vh;
    margin:40px 0 0 0;

    /* The first child should have no margin */
    &:nth-child(1) {
      margin:0;
    }
  }
}