/* Section */
#section2 {
	background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../images/mixmusicpic3.jpg');
	background-position:center;
	background-size: cover;

	display:flex;
	justify-content: center;
	align-items: center;

	text-align:center;
}

/* Heading */
#section2 h1 {
    text-align:left;
    padding-left:50px;
    font-size: 56px;
}

/* Description 40px */
#section2 .description {
    line-height: 40px;
}

/* Get started */
#section2 .getstarted {
    text-align: left;
}

#section2 .getstarted p {
    display:inline;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    transition: border 0.25s;
}
#section2 .getstarted p:hover {
    cursor:pointer;
    border-bottom: 3px solid white;
}