/* Section */
#section4 {
    width:100%;
    background:black;
    padding:0;
}

/* Thirds */
#section4 .third {
    min-height:33.333vh;
    background-position:center;
    background-size:cover;
    padding:0 50px 0 50px;
}

#section4 .third .row {
    min-height:33.333vh;
}

#section4 p {
    font-size:13px;
    color:rgb(204, 204, 204);
}

#thirdfirst {
    background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/mixmusicpic8.jpg');
}

#thirdsecond {
    background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/mixmusicpicture9.jpg');
}

#thirdthird {
    background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/mixmusicpicture10.jpg');
}

/* Icons */
.fa {
    color:white;
    font-size:8vw;
}

/* MD or smaller */
@media (max-width: 991px) {
    #section4 .third .row {
        padding:40px 0 40px 0;
    }

    .fa {
        margin-bottom:30px;
    }
}