@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto';
	font-weight:100;
}

p {
    font-family: 'Roboto';
	font-weight:300;
}

body {
	height:100%;
	background-color: black;
	color:white;
	overflow-x:hidden!important; // Hides horizontal scroll-bar
}

/* This helps ScrollReveal */
html.sr .load-hidden {
	visibility: hidden;
}